html, body {
    height: 100%;
  }

.main-div{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    background-image: url("pattern.png");
  }

button.mat-raised-button.mat-primary.mat-button.mat-button-base {
    width: 100%;
}

.example-card{
    padding: 40px;
}
